<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>百贷网-后台管理系统</title>
	<script type="text/javascript" src="../../include.js" ></script>
	<script type="text/javascript" src="../../scripts/forPage/contractManage.js" ></script>
	
</head>

<body>
	<div class="fs-16 ml-20 mt-20 mb-10">
合同管理&nbsp;-&gt;&nbsp;合同列表
</div>
<div class="searchBox ml-10 mt-20 mb-30 clearfix">
	<div class="fl-l ml-10">借款人&nbsp;
		<input id="name" type="text" class="txt-small w-120">
	</div>
	<div class="fl-l ml-15">合同状态&nbsp;
		<select id="status" class='sel-small'>
			<option value='ALL'>全部</option>
			<option value='APPLY'>待确认</option>
			<option value='SIGNED'>已确认</option>
			<option value='TERMINATE'>已解除</option>
			<!-- <option value=''>已终止</option> -->
		</select>
	</div>
	<div class="fl-l ml-15">
		<input id="guarantee" name="guarantee" type="checkbox"/>&nbsp;担保借款
	</div>
	<div class="fl-l ml-30">
		<input onclick="queryContractList()" id="searchBtn" type="button" value="搜索" class="subBtn round-3 h-30 lh-28 pl-30 pr-30">
	</div>
</div>

	<table class="listTable">
		<caption align="left">
			<img src="../../images/table-list.png"/> 合同列表
		</caption>
		<thead>
			<tr>
				<td>借款人</td>
				<td>借款ID</td>
				<td>借款金额</td>
				<td>借款期限</td>
				<td>合同ID</td>
				<td>合同状态</td>
				<td>操作</td>
			</tr>
		</thead>
		<tbody id='contractTbody'></tbody>
	</table>

	<div class="page mt-30">
		<div class="ui-page-outer">
			<div class="ui-page">
				<div id="pageNav"></div>
			</div>
		</div>
	</div>
</body>