<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>百贷网-后台管理系统</title>
    <script type="text/javascript" src="../../include.js" ></script>
	<script type="text/javascript" src="../../scripts/forPage/contractDetail.html.js" ></script>
	
</head>


<div class="searchBox ml-10 mt-20 mb-30 clearfix">
	<div class="fs-18 ml-20 w-700 h-35 lh-35 c-fff bgc-999 bdr-s1c bdw-2 bdc-999">借款合同</div>
	<div id='loanContract' class="fs-12 ml-20 w-700 h-350" style="overflow: auto;">
		
	</div>
	<div class='ta-c mt-10'><input id='backBtn' type="button" value='返回' class='btn btn-gray btn-middle'/></div>
</div>
		
