<script type="text/javascript"
	src="../scripts/forPage/overdueBorrowCheck.js"></script>
<div class="ml-20 mr-20 clearfix" style="margin-top: 10px">
	<div class="w-225 fl-l" style="width: 100%; padding-bottom: 10px">
		<span>贷后管理  -> 逾期管理</span><br>
	</div>
	<div>
		<span style="margin-left: 30px; margin-bottom: 10px">借款人&nbsp;&nbsp;<input
			type="text" value="请输入真实姓名" style="color: #CCC" /></span>
	</div>
	<div>
		<span style="margin-left: 20px">标的类型&nbsp;<select
			style="width: 140px;"><option selected="selected">不限</option>
				<option>个人信用贷</option>
				<option>经营贷</option></select></span> <span style="margin-left: 50px">还款状态&nbsp;<select
			style="width: 140px;"><option selected="selected">不限</option>
				<option>逾期未还</option>
				</select></span> <span style="margin-left: 50px"><input
			type="checkbox" />担保借款</span> <span style="margin-left: 40px"><a
			id="query" class="blueBtn round-2 h-30 lh-30 pl-15 pr-15 mr-3">搜索</a></span>

	</div>
</div>
<div class="tabBox ml-20 mr-20 mb-30 mt-20">
	<div class="tabContent mt-20">
		<table class="listTable">
			<caption>
				<div class="ta-l">
					<img src="../images/table-list.png" /> 逾期贷款
				</div>
			</caption>
			<thead>
				<tr>
					<td style="width: 18%">借款人</td>
					<td style="width: 10%">标的类型</td>
					<td style="width: 10%">期数</td>
					<td style="width: 10%">应还时间</td>
					<td style="width: 10%">逾期天数</td>
					<td style="width: 10%">应还额</td>
					<td style="width: 10%">逾期金额</td>
					<td style="width: 10%">还款状态</td>
					<td style="width: 12%">操作</td>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>

	</div>
</div>