<div class="ml-20 mr-20 clearfix" style="margin-top: 10px">
	<div class="w-225 fl-l" style="width: 100%; padding-bottom: 10px">
		<span>借款管理  -> 逾期借款详情</span><br>
	</div>
</div>
<div class="tabBox ml-20 mr-20 mb-30 mt-20"
	style="border: 1px #CCC solid;">
	<div
		style="width: 100%; text-align: left; background-color: #CCC; color: #FFF; height: 30px">
		<span style="padding-left: 10px;">逾期借款详情</span>
	</div>
	<table style="margin: 10px 20px 15px 10px; width: 100%">
		<tbody align="left">
			<tr height="40px">
				<td width="32%"><span>借款人：张三丰</span><font color="#FF0000"
					style="margin-left: 5px">黑名单</font><a href=""
					style="margin-left: 5px; color: #0000FF">资料认证表</a></td>
				<td width="19%">用户名：借点钱</td>
				<td width="21%">借款标题：急需,借点钱</td>
				<td width="29%">标的类型：个人信用贷</td>
			</tr>
			<tr height="40px">
				<td>借款金额：￥30,000.00</td>
				<td>年利率：7.5%</td>
				<td>借款期限：30天</td>
				<td>还款方式：每月还款,等额本息</td>
			</tr>
			<tr height="40px">
				<td>借款用途：消费</td>
				<td>筹标期限：10天</td>
				<td></td>
				<td></td>
			</tr>
			<tr height="40px">
				<td>担保机构：厚泽担保有限公司</td>
				<td>担保时间：2013-12-12</td>
				<td align="center"></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div class="tabContent mt-20" style="margin: 0 10px">
		<table class="listTable">
			<caption>
				<div class="ta-l">
					<img src="../images/table-list.png" /> 本期逾期情况
				</div>
			</caption>
			<thead>
				<tr>
					<td style="width: 12%">期数</td>
					<td style="width: 15%">应还时间</td>
					<td style="width: 13%">逾期天数</td>
					<td style="width: 15%">应还额</td>
					<td style="width: 15%">逾期金额</td>
					<td style="width: 15%">逾期罚金</td>
					<td style="width: 15%">还款状态</td>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1/12</td>
					<td>2013-12-13</td>
					<td>1天</td>
					<td>￥900.00</td>
					<td>￥100.00</td>
					<td>￥200.00</td>
					<td>逾期未还</td>

				</tr>
			</tbody>
		</table>
	</div>
	<div class="tabContent mt-20" style="margin: 10px 10px">
		<table class="listTable">
			<caption>
				<div class="ta-l">
					<img src="../images/table-list.png" /> 历史催收记录
				</div>
			</caption>
			<thead>
				<tr>
					<td style="width: 20%">催收时间</td>
					<td style="width: 15%">催收人</td>
					<td style="width: 30%">催收记录</td>
					<td style="width: 20%">是否有恶意现象</td>
					<td style="width: 15%">查看全部&gt;</td>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2013-12-13</td>
					<td>张三</td>
					<td>商品没有卖出去不能按时还款</td>
					<td>是</td>
					<td></td>
				</tr>
				<tr class='gare_bg'>
					<td>2013-12-13</td>
					<td>张三</td>
					<td>商品没有卖出去不能按时还款</td>
					<td>否</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="tabContent mt-20" style="margin: 20px 10px">
		<table width="100%">
			<tbody>
				<tr>
					<td width="10%">催收记录</td>
					<td width="60%" rowspan="3"><textarea
							style="width: 400px; height: 85px;"></textarea></td>
					<td width="30%">催收人<span style="margin-left: 30px"><select
							style="width: 120px"><option>张三</option></select></span></td>
				</tr>
				<tr>
					<td width="10%">&nbsp;</td>
					<td width="20%">催收时间</td>
				</tr>
				<tr>
					<td width="10%">&nbsp;</td>
					<td width="20%">是否恶意<span style="margin-left: 25px"><input
							type="radio" name="b" />是<input type="radio" name="b"
							style="margin-left: 25px" />否</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="width: 100%; text-align: center; margin-bottom: 20px;">
		<a class="blueBtn round-2 h-30 lh-30 pl-15 pr-15 mr-3">确定</a>
	</div>
</div>