<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="../styles/base.css">
	<link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>
<body>
	<div class="fl-l w-40b">
		<h3 class="pb-10 fs-14">借款管理</h3>
		<div class="bd-s1c mb-20">
			<table cellpadding="0" cellspacing="0" border="0" class="w-95b m-0a lh-50">
				<tbody>
					<tr>
						<td class="bdb-da1c">
							<div class="w-70b fl-l fs-12">
								待认证授信借款（<span class="c-redLight">5</span>）条
							</div>
							<div class="w-30b fl-r ta-r">
								<input type="button" class="btn btn-blue" value="立即处理">
							</div>
						</td>
					</tr>
					<tr>
						<td class="bdb-da1c">
							<div class="w-70b fl-l fs-12">
								未通过复审借款（<span class="c-redLight">5</span>）条
							</div>
							<div class="w-30b fl-r ta-r">
								<input type="button" class="btn btn-blue" value="立即处理">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="fl-l w-40b ml-20">
		<h3 class="pb-10 fs-14">筹款管理</h3>
		<div class="bd-s1c mb-20">
			<table cellpadding="0" cellspacing="0" border="0" class="w-95b m-0a lh-50">
				<tbody>
					<tr>
						<td class="bdb-da1c">
							<div class="w-70b fl-l fs-12">
								待申请发标借款（<span class="c-redLight">5</span>）条
							</div>
							<div class="w-30b fl-r ta-r">
								<input type="button" class="btn btn-blue" value="立即处理">
							</div>
						</td>
					</tr>
					<tr>
						<td class="bdb-da1c">
							<div class="w-70b fl-l fs-12">
								发标撤销借款（<span class="c-redLight">5</span>）条
							</div>
							<div class="w-30b fl-r ta-r">
								<input type="button" class="btn btn-blue" value="立即处理">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="fl-l w-40b">
		<h3 class="pb-10 fs-14">借款提醒</h3>
		<div class="bd-s1c mb-20">
			<table cellpadding="0" cellspacing="0" border="0" class="w-95b m-0a lh-50">
				<tbody>
					<tr>
						<td class="bdb-da1c">
							<div class="w-70b fl-l fs-12">
								逾期借款（<span class="c-redLight">5</span>）条
							</div>
							<div class="w-30b fl-r ta-r">
								<input type="button" class="btn btn-blue" value="立即处理">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="fl-l w-40b ml-20">
		<h3 class="pb-10 fs-14">筹款提醒</h3>
		<div class="bd-s1c mb-20">
			<table cellpadding="0" cellspacing="0" border="0" class="w-95b m-0a lh-50">
				<tbody>
					<tr>
						<td class="bdb-da1c">
							<div class="w-70b fl-l fs-12">
								流标借款（<span class="c-redLight">5</span>）条
							</div>
							<div class="w-30b fl-r ta-r">
								<input type="button" class="btn btn-blue" value="立即处理">
							</div>
						</td>
					</tr>
					<tr>
						<td class="bdb-da1c">
							<div class="w-70b fl-l fs-12">
								满标借款（<span class="c-redLight">5</span>）条
							</div>
							<div class="w-30b fl-r ta-r">
								<input type="button" class="btn btn-blue" value="立即处理">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>