<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>百贷网-后台管理系统</title>
    <script type="text/javascript" src="../include.js" ></script>
	<script type="text/javascript" src="../scripts/forPage/main.js" ></script>
</head>

<body>
<!--header start-->
<div class="header h-65 clearfix">
	<div class="w-195 h-65 fl-l">
		<img src="../images/logo.png" alt="LOGO" class="ml-20 mt-15">
	</div>
	<div class="h-65 lh-25 pl-195">
		<div class="nav ml-60 fl-l">   
			<!-- first level menu -->                               
		</div>
		<div class="login h-65 fl-r">
			<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
					<tr>
						<td valign="middle"><span class="usernameIcon mt-8 mr-10"></span></td>
						<td valign="middle">
							<a href="javascript:;" id="userInfo"></a>
							<span class="ml-10 mr-10">|</span>
							<a href="javascript:;" id="logoutBtn">退出</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--header end-->
<!--main start-->
<div class="main">
	<div class="mainbox">
		<div class="right">
			<iframe src="#" id="contentIframe" width="100%" height="700" frameborder="0"></iframe>
		</div>
	</div>
	<div class="left">
		<ul class="leftNav mt-10 mb-10">
			<!-- left menus -->
		</ul>
	</div>
</div>
<!--main end-->
<!--footer start-->
<div class="footer h-115">
</div>
<!--footer end-->
</body>
</html>
