<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>百贷网</title>
<script type="text/javascript" src="../include.js" ></script>
</head>
<body>
	<div id="pageNav"></div>
	<div class="wrap">
		<!-- header start -->
		<div class="header">
			<div class="top ta-r">
				<div class="w-960 m-0a">
					<a href="#" class="c-orangeLight mr-5">张三</a> <a
						href="login/login.html" class="c-ccc">退出</a>
				</div>
			</div>
			<div class="logo">
				<div class="w-960 m-0a">
					<div class="fl-l">
						<a href="index.html"><img src="../images/logo.png" alt="LOGO"></a>
					</div>
					<div class="fl-r">
						<ul class="nav">
							<li><a href="index.html" class="active">首页</a></li>
							<li><a href="#">贷前管理</a></li>
							<li><a href="#">贷中管理</a></li>
							<li><a href="#">贷后管理</a></li>
							<li><a href="#">统计查询</a></li>
							<li><a href="#">资金管理</a></li>
							<li><a href="#">合同管理</a></li>
							<li><a href="#">用户管理</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- header end -->
		<!-- middle start -->
		<div class="middle">
			<div class="box w-960 m-0a mt-20 mb-20 clearfix">
				<div class="part-left fl-l">
					<a href="userCenter.html"> <img src="../images/lxy_01.png"
						alt=""> <span>个人中心</span>
					</a> <a href="myFinance.html"> <img src="../images/lxy_02.png"
						alt=""> <span>理财管理</span>
					</a> <a href="myLoan.html" class="active"> <img
						src="../images/lxy_03a.png" alt=""> <span>借款管理</span>
					</a>
					<div class="nextNav">
						<a href="myLoanTender.html" class="active">投标中的借款</a> <a
							href="myLoanRepay.html">正常还款中的借款</a> <a href="myLoanOverdue.html">逾期的借款</a>
						<a href="myLoanHistory.html">历史借款</a>
					</div>
					<a href="myMoney.html"> <img src="../images/lxy_04.png" alt="">
						<span>资金管理</span>
					</a> <a href="accountUserBaseInfo.html"> <img
						src="../images/lxy_05.png" alt=""> <span>账户管理</span>
					</a> <a href="message.html"> <img src="../images/lxy_06.png" alt="">
						<span>消息通知</span>
					</a>
				</div>
				<div class="part-right fl-r">
					<div class="pt-15 pb-15 pl-20 pr-20">
						<table class="listTable">
							<caption align="left">
								<img src="../images/table-list.png"/> 借款管理
							</caption>
							<thead>
								<tr>
									<td>订单编号</td>
									<td>订购时间</td>
									<td>产品名称</td>
									<td>状态</td>
									<td>操作</td>
								</tr>
							</thead>
							<tbody>
								<tr class='gare_bg'>
									<td><a href="b_myBusinessService_orderDetail.html">b201209212912</a></td>
									<td>2012-03-13</td>
									<td>即时收款</td>
									<td>正常</td>
									<td><a href='#'>暂停</a></td>
								</tr>
								<tr>
									<td><a href="b_myBusinessService_orderDetail.html">b201209212911</a></td>
									<td>2012-01-13</td>
									<td>积分支付</td>
									<td>已结束</td>
									<td></td>
								</tr>
								<tr class='gare_bg'>
									<td><a href="b_myBusinessService_orderDetail.html">b201209212910</a></td>
									<td>2012-03-13</td>
									<td>惠员卡</td>
									<td>正常</td>
									<td><a href='#'>暂停</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- middle end -->
		<!-- footer start -->
		<div class="footer">
			<div class="w-960 m-0a">
				<div>
					<h3 class="fs-18 dp-i">友情链接</h3>
					<a href="javascript:;">慧聪金融</a> <a href="javascript:;">易观智库</a> <a
						href="javascript:;">好贷网</a> <a href="javascript:;">银率网</a> <a
						href="javascript:;">和讯银行</a> <a href="javascript:;">国美在线</a> <a
						href="javascript:;">财经道</a> <a href="javascript:;">电商服务</a> <a
						href="javascript:;">ShopEx</a> <a href="javascript:;">58投资担保</a>
				</div>
				<div class="line"></div>
				<div class="w-700 fl-l">
					<h3 class="fs-18 dp-i">公司介绍</h3>
					<a href="javascript:;">安全保障</a> <a href="javascript:;">媒体报道</a> <a
						href="javascript:;">社会责任</a> <a href="javascript:;">网站地图</a> <a
						href="javascript:;">帮助中心</a> <a href="javascript:;">联系我们</a>
				</div>
				<div class="w-250 fl-r fs-18 ta-r">
					客服电话&nbsp;&nbsp;400-027-8080</div>
				<div class="clear ta-c pb-100">&copy; 2013 人人贷 All rights
					reserved 人人贷商务顾问(北京)有限公司 京ICP证 100953号</div>
			</div>
		</div>
		<!-- footer end -->
	</div>
</body>
</html>
