<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>百贷网</title>
<script type="text/javascript" src="../../include.js"></script>
<script>
$(function(){
	//nav栏点亮
	$('.nav .headList').eq(2).addClass('active');
})
</script>
</head>
<body>
<div class="wrap">
	<!-- header start -->
	<div class="header">
	</div>
	<!-- header end -->
	<!-- middle start -->
	<div class="middle y_area">
		<div class="p-10"></div>
		<div class="y_jyd w-960 m-0a y_register">
			<h2 class="y_bgyellow">经营贷</h2>
			<div class="y_section clearfix">
				<h3 class="round-4">申请条件</h3>
				<div class="fl-r y_shenq"><input type="button" value="立即申请" class="y_go_reg y_go_back y_go_shenq cs-p" onClick="location.href='loanApply.html'" /></div>
				<ul>
					<li>1.22-55周岁的中国公民</li>
					<li>2.企业经营时间满1年</li>
				</ul>
			</div>
			<div class="y_section">
				<h3>借款方式</h3>
				<ul>
					<li>借款额度：3,000-500,000</li>
					<li>借款年利率：10%-20%</li>
					<li>借款期限：3、6、9、12、18、24个月</li>
					<li>审核时间：1-3个工作日</li>
					<li>还款方式：等额本息，等额本金</li>
				</ul>
			</div>
			<div class="y_section">
				<h3>费用说明</h3>
				<p>成交服务费</p>
				<p class="y_small">用户成功借款后按照评定的信用等级会一次性的从所得借款中扣除一定的比例（0%-5%）<br />作为成交服务费，该服务费将进入人人贷平台的风险备用金账户，专项用于人人贷的本金保障计划。</p>
				<table border="0" cellpadding="0" cellspacing="0" class="y_jyd_table">
					<tr>
						<td>信用等级</td>
						<td align="center"><img src="../../images/y_xinyong_03.png" alt="" /></td>
						<td align="center"><img src="../../images/y_xinyong_05.png" alt="" /></td>
						<td align="center"><img src="../../images/y_xinyong_07.png" alt="" /></td>
						<td align="center"><img src="../../images/y_xinyong_09.png" alt="" /></td>
						<td align="center"><img src="../../images/y_xinyong_11.png" alt="" /></td>
						<td align="center"><img src="../../images/y_xinyong_13.png" alt="" /></td>
						<td align="center"><img src="../../images/y_xinyong_15.png" alt="" /></td>
					</tr>
					<tr>
						<td>费率</td>
						<td align="center">0</td>
						<td align="center">1%</td>
						<td align="center">1.5%</td>
						<td align="center">2%</td>
						<td align="center">2.5%</td>
						<td align="center">3%</td>
						<td align="center">5%</td>
					</tr>
				</table>
				<p>账户管理费</p>
				<p class="y_small">人人贷将按照借款人的借款期限，每月向借款人收取其借款本金的0.3%作为借款管理费。</p>
			</div>
			<div class="y_section">
				<h3>必要申请材料</h3>
				<ul>
					<li>1.身份证&nbsp;<a href="javascript:void(0)" class="y_small">查看示例</a></li>
					<li>2.个人征信报告（可去当地人民银行打印）&nbsp;<a href="javascript:void(0)" class="y_small">查看示例</a></li>
					<li>3.经营证明&nbsp;<a href="javascript:void(0)" class="y_small">查看示例</a><br />&nbsp;&nbsp;&nbsp;&nbsp;<span class="y_small">a）通过年检且注册满1年的营业执照</span><br />&nbsp;&nbsp;&nbsp;&nbsp;<span class="y_small">b）经营场地租赁合同＋90天内的租金发票或水电单据</span></li>
					<li>4.可体现经营情况的近6个月常用银行卡流水（对公或个人账户）&nbsp;<a href="javascript:void(0)" class="y_small">查看示例</a></li>
				</ul>
			</div>
			<div class="ta-c pt-20"><input type="button" value="立即申请" class="y_go_reg y_go_back y_go_shenq cs-p" onClick="loanApply.html" /></div>
		</div>
		<div class="p-30"></div>
	</div>
	<!-- middle end -->
	<!-- footer start -->
	<div class="footer">
	</div>
	<!-- footer end -->
</div>
</body>
</html>
