<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>百贷网</title>
<script type="text/javascript" src="../../include.js"></script>
<script>
$(function(){
	//nav栏点亮
	$('.nav .headList').eq(2).addClass('active');
})
</script>
</head>
<body>
<div class="wrap">
	<!-- header start -->
	<div class="header">
	</div>
	<!-- header end -->
	<!-- middle start -->
	<div class="middle y_area w-960 m-0a">
		<h1 class="y_pro_h1">产品介绍</h1>
		<div class="clearfix y_product pb-40">
			<div class="y_fl fl-l">
				<h4 class="y_bggreen">个人信用贷</h4>
				<div class="y_pro_content y_pro_bg0">
					<h5>适用于小额个人贷款</h5>
					<h6>申请条件</h6>
					<ul>
						<li>1.22-55周岁的中国公民</li>
						<li>2.在现单位工作满3个月</li>
						<li>3.在现单位工作满3个月</li>
					</ul>
					<a href="personLoan.html" class="y_intro">查看个人信用贷详细介绍</a>
				</div>
				<div class="ta-c pt-20"><input type="button" value="立即申请" class="y_go_reg y_go_back y_go_shenq cs-p" onClick="location.href='loanApply.html'" /></div>
			</div>
			<div class="y_fl fl-r">
				<h4 class="y_bgyellow">经营贷</h4>
				<div class="y_pro_content y_pro_bg1">
					<h5>适用于私营企业主</h5>
					<h6>申请条件</h6>
					<ul>
						<li>1.22-55周岁的中国公民</li>
						<li>2.企业经营时间满1年</li>
					</ul>
					<a href="entLoan.html" class="y_intro">查看企业信用贷详细介绍</a>
				</div>
				<div class="ta-c pt-20"><input type="button" value="立即申请" class="y_go_reg y_go_back y_go_shenq cs-p" onClick="location.href='loanApply.html'"/></div>
			</div>
		</div>
	</div>
	<!-- middle end -->
	<!-- footer start -->
	<div class="footer">
	</div>
	<!-- footer end -->
</div>
</body>
</html>
