<div class="searchBox ml-20 mt-20 mb-30 clearfix">
					<div class="fl-l mr-30">用户名&nbsp;
						<input type="text" class="txt-small w-125">
					</div>
					<div class="fl-l">借款人&nbsp;
						<input type="text" class="txt-small w-125">
					</div>
					<div class="fl-r mr-20">
						<input type="button" value="搜索" class="subBtn round-3 h-30 lh-28 pl-30 pr-30">
					</div>
				</div>
				<div class="tabBox ml-20 mr-20 mb-30 mt-20">
					<div class="tabContent mt-20">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="fs-14 tbLc">
						<tr>
							<th scope="col">序号</th>
							<th scope="col">用户名</th>
							<th scope="col">借款人</th>
							<th scope="col">证件号</th>
							<th scope="col">逾期借款ID</th>
							<th scope="col">逾期金额(元)</th>
							<th scope="col">逾期天数</th>
							<th scope="col">逾期次数</th>
							<th scope="col">还款状态<br><select><option>全部</option></select></th>
						</tr>
						<tr>
							<td align="center">1</td>
							<td align="center">奔跑的野马</td>
							<td align="center">杰克逊</td>
							<td align="center">123456789012345678</td>
							<td align="center">ID</td>
							<td align="center">80,000</td>
							<td align="center">45</td>
							<td align="center">1</td>
							<td align="center">正常还清</td>
						</tr>
						<tr>
							<td align="center">1</td>
							<td align="center">ABC电子科技有限公司</td>
							<td align="center">ABC</td>
							<td align="center">123456789012345678</td>
							<td align="center">ID</td>
							<td align="center">80,000</td>
							<td align="center">45</td>
							<td align="center">1</td>
							<td align="center">担保垫付</td>
						</tr>
						<tr>
							<td align="center">1</td>
							<td align="center">李阳</td>
							<td align="center">李阳</td>
							<td align="center">123456789012345678</td>
							<td align="center">ID</td>
							<td align="center">8,000</td>
							<td align="center">31</td>
							<td align="center">1</td>
							<td align="center">坏帐核销</td>
						</tr>
					</table>
					<div class="page mt-30">
						<div class="ui-page-outer">
							<div class="ui-page">
								<span class="ui-page-on">1</span>
								<a href="#" data-page="2">2</a>
								<a href="#" data-page="3">3</a>
								<span class="ui-page-dot">...</span>
								<a href="#" data-page="16">16</a>
								<a href="#" class="ui-page-next" data-page="2">&gt;</a>
							</div>
						</div>
					</div>
				</div>
			</div>