<script type="text/javascript">
	$(function(){
		$("td > a").click(function(){
			WD.api.getFile("user/enterprise/userInfo.html", function(content) {
				$('.part-right').html(content);
			});
		});
	});
	
</script>
	<div class="searchBox ml-20 mt-20 mb-30 clearfix">
		<div class="fl-l mr-30">企业名称&nbsp;
			<input type="text" class="txt-small w-125">
		</div>
		<div class="fl-r mr-20">
			<input type="button" value="搜索" class="subBtn round-3 h-30 lh-28 pl-30 pr-30">
		</div>
	</div>
	<div class="tabBox ml-20 mr-20 mb-30 mt-20">
		<div class="tabContent mt-20">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="fs-14 tbLc">
			<tr>
				<th scope="col">序号</th>
				<th scope="col">企业名称</th>
				<th scope="col">法人姓名</th>
				<th scope="col">身份证号</th>
				<th scope="col">注册资本(万元)</th>
				<th scope="col">借款总额(元)</th>
				<th scope="col">操作</th>
			</tr>
			<tr>
				<td align="center">1</td>
				<td align="center">ABC电子科技公司</td>
				<td align="center">张三丰</td>
				<td align="center">123456789012345678</td>
				<td align="center">1000</td>
				<td align="center">80,000</td>
				<td align="center"><a href="#" >查看  发送通知</a></td>
			</tr>
			<tr>
				<td align="center">2</td>
				<td align="center">ABC电子科技公司</td>
				<td align="center">李阳</td>
				<td align="center">123456789012345678</td>
				<td align="center">1000</td>
				<td align="center">80,000</td>
				<td align="center"><a href="#" >查看  发送通知</a></td>
			</tr>
			<tr>
				<td align="center">3</td>
				<td align="center">ABC电子科技公司</td>
				<td align="center">李小四</td>
				<td align="center">123456789012345678</td>
				<td align="center">1000</td>
				<td align="center">80,000</td>
				<td align="center"><a href="#" >查看  发送通知</a></td>
			</tr>
		</table>
		<div class="page mt-30">
			<div class="ui-page-outer">
				<div class="ui-page">
					<span class="ui-page-on">1</span>
					<a href="#" data-page="2">2</a>
					<a href="#" data-page="3">3</a>
					<span class="ui-page-dot">...</span>
					<a href="#" data-page="16">16</a>
					<a href="#" class="ui-page-next" data-page="2">&gt;</a>
				</div>
			</div>
		</div>
		</div>
	</div>

