<script type="text/javascript" src="../scripts/public/main.js"></script>
<div class="mt-30 ml-20 mr-20 clearfix">
	<div class="part-left1 w-250 fl-l pt-10 pb-10">
		<span class="fs-14">企业名称：</span>
		<span class="fs-14">ABC电子科技公司</span><br>
		<span class="fs-14">注册资本：</span>
		<span class="fs-14">1200万元</span><br>
		<span class="fs-14">营业执照：</span>
		<span class="fs-14">11045678s87654321</span>
		
		<div class="h-10"></div>
	</div>
	<div class="part-right1 w-400 fl-r pt-15 pst-r">
		<span class="fs-14">法人姓名：</span>
		<span class="fs-14">张三丰</span><br>
		<span class="fs-14">经营年限：</span>
		<span class="fs-14">5年</span><br>
		<span class="fs-14"><font color="red">黑名单用户</font></span>
	</div>
</div>

<div class="tabBox ml-20 mr-20 mb-30 mt-20">
	<div class="tabTitle clearfix ccc">
		<h3 class="active"><span>法人信息</span></h3>
		<h3><span>企业基本信息</span></h3>
		<h3><span>企业财务信息</span></h3>
		<a class="fs-12 fl-r c-blue1 mt-10" href="#"></a>
	</div>
	<div class="tabContent mt-20 ccc">
	<!-- 法人信息-->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="fs-14 tbLc">
		<tr>
			<td scope="col" >法人姓名:李玲期</td>
			<td scope="col" >性别:男</td>
			<td scope="col" >证件类型:身份证          <a href="#"><img src=""></img>下载</a></td>
		</tr>
		<tr>
			<td scope="col" >证件号码:1111111111111111</td>
			<td scope="col" >联系电话:13922222222</td>
			<td scope="col" >教育程度:硕士</td>
		</tr>
		<tr>
			<td scope="col" >家庭地址:北京市朝阳区三环中路33-333</td>
			<td scope="col" ></td>
			<td scope="col" ></td>
		</tr>
	</table>
	
	<!-- 企业基本信息 -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="fs-14 tbLc dp-n">
		<tr>
			<td scope="col" >企业名称:北京乐满地有限公司</td>
			<td scope="col" >营业执照:  <a href="#"><img src=""></img>下载</a></td>
		</tr>
		<tr>
			<td scope="col" >注册资本:50000000 </td>
			<td scope="col" >组织机构代码证:  <a href="#"><img src=""></img>下载</a></td>
		</tr>
		<tr>
			<td scope="col" >主营业务:食品制造 </td>
			<td scope="col" >税务登记证:  <a href="#"><img src=""></img>下载</a></td>
		</tr>
		<tr>
			<td scope="col" >经营年限:5年 </td>
		</tr>
		<tr>
			<td scope="col" >注册地址:北京前门外大街39号 </td>
		</tr>
		<tr>
			<td scope="col" >经营场所:北京前门外大街39号 </td>
		</tr>
	</table>
	
	<!-- 企业财务信息 -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="fs-14 tbLc dp-n">
		<tr>
			<td scope="col" >总资产:500000</td>
			<td scope="col" >企业财务报表:  <a href="#"><img src=""></img>下载</a></td>
		</tr>
		<tr>
			<td scope="col" >总负债:50000000 </td>
		</tr>
		<tr>
			<td scope="col" >销售收入(上一财务年):50000 </td>
		</tr>
		<tr>
			<td scope="col" >毛利润(上一财务年):20000 </td>
		</tr>
		<tr>
			<td scope="col" >财务费用(上一财务年):2000 </td>
		</tr>
		<tr>
			<td scope="col" >货币基金:30000 </td>
		</tr>
	</table>
	
	</div>
</div>


<div class="tabBox ml-20 mr-20 mb-30 mt-20">
	<div class="tabTitle clearfix xxx">
		<h3 class="active"><span>借款信息</span></h3>
		<a class="fs-12 fl-r c-blue1 mt-10" href="#"></a>
	</div>
	<div class="tabContent mt-20 xxx">
	<!-- 投资信息 -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="fs-14 tbLc">
		<tr>
			<th scope="col">序号</th>
			<th scope="col">借款标题</th>
			<th scope="col">借款ID</th>
			<th scope="col">借款金额</th>
			<th scope="col">利率</th>
			<th scope="col">借款期限</th>
			<th scope="col">申请借款日期</th>
			<th scope="col">还款方式</th>
			<th scope="col">逾期记录</th>
			<th scope="col">借款状态</th>
		</tr>
		<tr>
			<td align="center">1</td>
			<td align="center">资金周转</td>
			<td align="center">ID</td>
			<td align="center">200000</td>
			<td align="center">10%</td>
			<td align="center">3个月</td>
			<td align="center">2013-09-01 11:32:30</td>
			<td align="center">每月还款，等额本息</td>
			<td align="center">有</td>
			<td align="center">正常还清</td>
		</tr>
		<tr>
			<td align="center">2</td>
			<td align="center">资金周转</td>
			<td align="center">ID</td>
			<td align="center">10000</td>
			<td align="center">8%</td>
			<td align="center">3个月</td>
			<td align="center">2013-09-04 09:32:30</td>
			<td align="center">每月还款，等额本息</td>
			<td align="center">－</td>
			<td align="center">投标中</td>
		</tr>
	</table>
	
	</div>
</div>
