<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>百贷网-后台管理系统</title>
    <script type="text/javascript" src="../../include.js" ></script>
	<script type="text/javascript" src="../../scripts/forPage/forCreditReviewOfBorrowingCorpor.js" ></script>
</head>
<body>
	<div align="left">位置：贷前管理 > 认证授信 > 复审</div>
	<div class="tabBox ml-20 mr-20 mb-30 mt-20">
	<div ><span id="menuItem" ></span><span id ="crumbs" ></span></div>
							<div class="tabTitle clearfix">
							<h3 class="active" id="basicInformation"  >
								<span>法人信息</span>
							</h3>
							<h3 id="theBankCredit"  >
								<span>企业基本信息</span>
							</h3>
							<h3 id=" familyInformation"  >
								<span>企业财务信息</span>
							</h3>
							<h3 id="creditextension"  >
								<span>授信</span>
							</h3>
						</div>
						
								<div id="basicInformation-content" class="tabContent mt-20"  >
						  	<div class="basicInformation">
								<div class="content">
									<table cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td width="50%">
										<span class="w-95 ml-5">
											法人姓名：
										</span>
										<span>
											李玲琪
										</span></td>
										<td width="50%">
										<span class="w-95 ml-5">
											性别：
										</span>
										<span>
											男
										</span></td>
								</tr>
								<tr>
									<td width="50%">
										<span class="w-95 ml-5">
											证件类型：
										</span>
										<span>
											身份证
										</span></td>
										<td width="50%">
										<span class="w-95 ml-5">
											证件号码：
										</span>
										<span>
											1111111111111111111
										</span></td>
								</tr>
																<tr>
									<td width="50%">
										<span class="w-95 ml-5">
											联系电话：
										</span>
										<span>
											13911111111
										</span></td>
										<td width="50%">
										<span class="w-95 ml-5">
											家庭地址：
										</span>
										<span>
											北京市朝阳区北三环中路13号
										</span></td>
								</tr>
																<tr>
									<td width="50%">
										<span class="w-95 ml-5">
											教育程度：
										</span>
										<span>
											硕士
										</span></td>
										<td width="50%">
										<span class="w-95 ml-5">
										</span>
										<span>
										</span></td>
								</tr>
							</table>
							
						</div>
					</div>
						</div>
					
<!-- 					end 法人信息 -->

						<div id="theBankCredit-content" class="tabContent mt-20"  style="display: none">
							  	<div class="basicInformation">
								<div class="content">
								<table cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td width="20%">
										<span class="w-90 ml-5">
											企业名称：
										</span>
										</td>
										<td width="80%">
										<span class="w-250 ml-5">
											北京乐满地有限公司
										</span>
										</td>
								</tr>
								<tr>
									<td width="20%">
										<span class="w-90 ml-5">
											注册资本：
										</span>
										</td>
										<td width="80%">
										<span class="w-250 ml-5">
											5000000
										</span>
										</td>
								</tr>
								<tr>
									<td width="20%">
										<span class="w-90 ml-5">
											所属行业：
										</span>
										</td>
										<td width="80%">
										<span class="w-250 ml-5">
											食品制造业
										</span>
										</td>
								</tr>
								<tr>
									<td width="20%">
										<span class="w-90 ml-5">
											主营业务：
										</span>
										</td>
										<td width="80%">
										<span class="w-250 ml-5">
											食品制造
										</span>
										</td>
								</tr>
																<tr>
									<td width="20%">
										<span class="w-90 ml-5">
											          经营年限：
										</span>
										</td>
										<td width="80%">
										<span class="w-250 ml-5">
											5年
										</span>
										</td>
								</tr>
																<tr>
									<td width="20%">
										<span class="w-90 ml-5">
											          注册地址：
										</span>
										</td>
										<td width="80%">
										<span class="w-250 ml-5">
											北京前门外大街39号
										</span>
										</td>
								</tr>
																								<tr>
									<td width="20%">
										<span class="w-90 ml-5">
											          经营场所：
										</span>
										</td>
										<td width="80%">
										<span class="w-250 ml-5">
											北京前门外大街39号
										</span>
										</td>
								</tr>
							</table>
							
						</div>
					</div>
						</div>
						
						<!-- 					end企业基本信息-->

						<div id=" familyInformation-content" class="tabContent mt-20" style="display: none">
							  	<div class="basicInformation">
								<div class="content">
									<table cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td width="20%">
										<span class="w-250 ml-5">
											          总资产：
										</span>
										</td>
										<td width="80%">
										<span class="w-250 ml-5">
											500000
										</span>
										</td>
								</tr>
								<tr>
									<td width="20%">
										<span class="w-250 ml-5">
											          总负债：
										</span>
										</td>
										<td width="80%">
										<span class="w-250 ml-5">
											30000
										</span>
										</td>
								</tr>
								<tr>
									<td width="20%">
										<span class="w-250 ml-5">
											          销售收入（上一财务年）：
										</span>
										</td>
										<td width="80%">
										<span class="w-250 ml-5">
											50000
										</span>
										</td>
								</tr>
								<tr>
									<td width="20%">
										<span class="w-250 ml-5">
											         毛利润（上一财务年）：
										</span>
										</td>
										<td width="80%">
										<span class="w-250 ml-5">
											20000
										</span>
										</td>
								</tr>
								<tr>
									<td width="20%">
										<span class="w-250 ml-5">
											                 财务费用（上一财务年）：
										</span>
										</td>
										<td width="80%">
										<span class="w-250 ml-5">
											2000
										</span>
										</td>
								</tr>
								<tr>
									<td width="20%">
										<span class="w-250 ml-5">
											               货币基金：
										</span>
										</td>
										<td width="80%">
										<span class="w-250 ml-5">
											30000
										</span>
										</td>
								</tr>

							</table>
							
								<table cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td width="40%">
										<span class="w-90 ml-5">
											企业财务报表：
										</span>
										<span>
										<img src="images/lxy_01.png"><a href="#">下载</a>
										</span></td>
										<td width="10%">
										<span class="w-80 ml-5">
											待认证
										</span>
										</td>
										<td width="50%">
										<span class="w-80 ml-5" style ="margin-right:25px;">
										<input type="button" value="认证通过" class="subBtn round-3 h-30 lh-28 pl-30 pr-30">
										</span>
										<span class="w-80 ml-5" style ="margin-right:25px;">
										<input type="button" value="格式不对" class="subBtn round-3 h-30 lh-28 pl-30 pr-30">
										</span>
										<span class="w-80 ml-5">
										<input type="button" value="虚假资料" class="subBtn round-3 h-30 lh-28 pl-30 pr-30">
										</span>
										</td>
								</tr>
							</table>
							
						</div>
					</div>
						</div>				
						
						
	<div id="creditextension-content" class="tabContent mt-20">
		<div class="basicInformation">
			<div class="content">
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td width="23%"><span class="w-80 ml-5"> 借款人： </span> <span>
								北京乐满地有限公司 </span></td>
						<td width="23%"><span class="w-80 ml-5">用户名： </span> <span>借点钱
						</span></td>
						<td width="25%"><span class="w-80 ml-5"> 借款标题： </span> <span>
								资金周转 </span></td>
						<td width="29%"><span class="w-80 ml-5"> 标的类型： </span> <span>
								经营贷 </span></td>

					</tr>
					<tr>
						<td width="23%"><span class="w-80 ml-5"> 借款金额： </span> <span>
								￥30,000.00 </span></td>
						<td width="23%"><span class="w-80 ml-5">利率： </span> <span>7.50
								% </span></td>
						<td width="25%"><span class="w-80 ml-5"> 期限： </span> <span>
								30 天 </span></td>
						<td width="29%"><span class="w-80 ml-5"> 还款方式： </span> <span>
								每月还款，等额本息 </span></td>
					</tr>
					<tr>
						<td width="23%"><span class="w-80 ml-5"> 借款用途： </span> <span>
								企业现金流 </span></td>
						<td width="23%"><span class="w-80 ml-5">筹标期限： </span> <span>10天
						</span></td>
						<td width="25%"><span class="w-80 ml-5"> 借款状态： </span> <span>
								复审中 </span></td>
						<td width="29%"><span class="w-80 ml-5"> <img
								src="images/lxy_01.png">
						</span> <span> <a href="#">资料认证表</a>
						</span></td>

					</tr>
					<tr>
						<td width="23%"><span class="w-80 ml-5"> 担保机构： </span> <span>
								小贷担保公司 </span></td>
						<td width="23%"><span class="w-80 ml-5">担保时间： </span> <span>2013-12-12
						</span></td>
						<td width="25%"><span class="w-80 ml-5"> </span> <span>
						</span></td>
						<td width="29%"><span class="w-80 ml-5"> </span> <span>
						</span></td>

					</tr>
				</table>
				<div class="h-1 ml-20 mr-20 bgc-gray90"></div>

				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td width="10%"><span class="w-115 ml-5"> 授信额度 </span></td>
						<td width="90%"><span class="w-115 ml-5"> 20,000 </span></td>
					</tr>
					<tr>
						<td width="10%"><span class="w-115 ml-5"> 授信意见： </span></td>
						<td width="90%"><span class="w-300 ml-5">
								认证资料比较齐备，信用也很良好 </span></td>
					</tr>
					<tr>
						<td width="10%"><span class="w-115 ml-5"> 授信人 </span></td>
						<td width="90%"><span class="w-115 ml-5">李四 </span></td>
					</tr>
					<tr>
						<td width="10%"><span class="w-115 ml-5"> 授信复审意见： </span></td>
						<td width="90%"><span class="w-115 ml-5"> <textarea
									rows="5" cols="75"></textarea>
						</span></td>
					</tr>
					<tr>
						<td width="10%">
							<span class="w-80 ml-5"> 
								<input
								id="reviewPassBtn"
								type="button" value="复审通过"
								class="subBtn round-3 h-30 lh-28 pl-30 pr-30"
								onclick="$U.loadPage('beforeLoan/forCreditReviewOfBorrowingPersonResult.html');">
							</span>
						</td>
						<td width="10%">
							<span class="w-80 ml-5"> 
								<input
								id="reviewDenyBtn"
								type="button" value="复审不通过"
								class="subBtn round-3 h-30 lh-28 pl-30 pr-30">
							</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
