<script type="text/javascript"
	src="views/beforeLoan/toApplyForInvitationForBorrowingPerDetails.js"></script>
<div id="creditextension-content" class="tabContent mt-20">
	<div ><span id="menuItem" ></span><span id ="crumbs" ></span></div>
	<div class="basicInformation">
		<div class="content">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="23%"><span class="w-80 ml-5"> 借款人： </span> <span>
							张三丰 </span></td>
					<td width="23%"><span class="w-80 ml-5">用户名： </span> <span>奔跑的野马
					</span></td>
					<td width="25%"><span class="w-80 ml-5"> 借款标题： </span> <span>
							急需，借点钱 </span></td>
					<td width="29%"><span class="w-80 ml-5"> 标的类型： </span> <span>
							个人信用贷 </span></td>

				</tr>
				<tr>
					<td width="23%"><span class="w-80 ml-5"> 借款金额： </span> <span>
							￥30,000.00 </span></td>
					<td width="23%"><span class="w-80 ml-5">利率： </span> <span>7.50
							% </span></td>
					<td width="25%"><span class="w-80 ml-5"> 期限： </span> <span>
							30 天 </span></td>
					<td width="29%"><span class="w-80 ml-5"> 还款方式： </span> <span>
							每月还款，等额本息 </span></td>
				</tr>
				<tr>
					<td width="23%"><span class="w-80 ml-5"> 借款用途： </span> <span>
							消费 </span></td>
					<td width="23%"><span class="w-80 ml-5">筹标期限： </span> <span>10天
					</span></td>
					<td width="25%"><span class="w-80 ml-5"> 担保时间： </span> <span>
							2013-12-12 </span></td>
					<td width="29%"><span class="w-80 ml-5"> 担保机构： </span> <span>
							后则担保有限公司 </span></td>

				</tr>

				<tr>
					<td width="23%"><span class="w-80 ml-5"> 授信额： </span> <span>
							20000 </span></td>
					<td width="23%"><span class="w-80 ml-5">授信人： </span> <span>张三
					</span></td>
					<td width="25%"><span class="w-80 ml-5">授信时间： </span> <span>2013-12-14
					</span></td>
					<td width="29%"><span class="w-80 ml-5"> </span> <span>
					</span></td>
				</tr>
				<tr>
					<td width="23%"><span class="w-80 ml-5"> </span> <span>
					</span></td>
					<td width="23%"><span class="w-100 ml-5">授信复审人： </span> <span>李四
					</span></td>
					<td width="25%"><span class="w-100 ml-5">授信复审时间： </span> <span>2013-12-14
					</span></td>
					<td width="29%"><span class="w-80 ml-5"> </span> <span>
					</span></td>
				</tr>
				<tr>
					<td width="23%"></td>
					<td width="23%"><input type="button" value="提交"
						class="subBtn round-3 h-30 lh-28 pl-30 pr-30"></td>
					<td width="25%"><input type="button" value="撤销"
						class="subBtn round-3 h-30 lh-28 pl-30 pr-30"></td>
					<td width="29%"></td>
				</tr>
			</table>
		</div>
	</div>
</div>
