<head>
	<meta charset="UTF-8">
	<title>百贷网-后台管理系统</title>
    <script type="text/javascript" src="../../include.js" ></script>
	<script type="text/javascript" src="../../../scripts/forPage/addUser.js" ></script>
</head>

<body>
<div align="left">位置：系统管理 > 用户管理 > 创建用户 > 操作结果</div>
<div align="center">
	<table class="editTable">
		<tr>
			<td align="right">用户名：</td>
			<td align="left"><input id="name" type="text"></td>
		</tr>
		<tr>
			<td align="right">登录名：</td>
			<td align="left"><input id="username" type="text"></td>
		</tr>
		<tr>
			<td align="right">初始密码：</td>
			<td align="left"><input id="password" type="password"></td>
		</tr>
		<tr>
			<td align="right">角色：</td>
			<td align="left">
				<select id="roleSelect"></select>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="button" value="返回" id="backBtn" class="subBtn round-3 h-30 lh-28 pl-30 pr-30">
				<input type="button" value="添加" id="addUserBtn" class="subBtn round-3 h-30 lh-28 pl-30 pr-30">
			</td>
		</tr>
	</table>
</div>
</body>

				
				
				
				
				
				
			
