<script type="text/javascript" src="../scripts/public/main.js"></script>
<div class="mt-30 ml-20 mr-20 clearfix">
	<div class="part-left1 w-250 fl-l pt-10 pb-10">
		<span class="fs-14">用户名：</span>
		<span class="fs-14">奔跑的野马</span><br>
		<span class="fs-14">真实姓名：</span>
		<span class="fs-14">张三丰</span><br>
		<span class="fs-14">身份证号：</span>
		<span class="fs-14">12345678s87654321</span>
		
		<div class="h-10"></div>
	</div>
	<div class="part-right1 w-400 fl-r pt-15 pst-r">
		<span class="fs-14">手机：</span>
		<span class="fs-14">18611112222</span><br>
		<span class="fs-14">邮箱：</span>
		<span class="fs-14">zhangsf@139.com</span><br>
		<span class="fs-14"><font color="red">黑名单用户</font></span>
	</div>
</div>

<div class="tabBox ml-20 mr-20 mb-30 mt-20">
	<div class="tabTitle clearfix ccc">
		<h3 class="active"><span>基本信息</span></h3>
		<h3><span>家庭信息</span></h3>
		<h3><span>工作信息</span></h3>
		<h3><span>资产信息</span></h3>
		<a class="fs-12 fl-r c-blue1 mt-10" href="#"></a>
	</div>
	<div class="tabContent mt-20 ccc">
	<!-- 基本信息 -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="fs-14 tbLc">
		<tr>
			<td scope="col" >出生日期:1985-02-01</td>
			<td scope="col" >性别:男</td>
			<td scope="col" >最高学历:本科</td>
		</tr>
		<tr>
			<td scope="col" >入学年份:2003-09-01</td>
			<td scope="col" >毕业院校:北京大学</td>
			<td scope="col" >籍贯:北京</td>
		</tr>
		<tr>
			<td scope="col" >户口所在地:北京海淀区</td>
			<td scope="col" >居住地址:北京海淀区33-333</td>
			<td scope="col" >居住电话:010-77777777</td>
		</tr>
		<tr>
			<td scope="col" >居住邮编:100013</td>
			<td scope="col" ></td>
			<td scope="col" ></td>
		</tr>
		<tr>
			<td scope="col" >个人图像</td><td scope="col" ></td>
		</tr>
	</table>
	
	<!-- 家庭信息 -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="fs-14 tbLc dp-n">
		<tr>
			<td scope="col" >婚姻状态:已婚</td>
			<td scope="col" >有无子女:有</td>
		</tr>
		<tr>
			<td scope="col" align="left" colspan="3">直系亲属 </td>
		</tr>
		<tr>
			<td scope="col" >姓名:张天乐 </td>
			<td scope="col" >关系:父子</td>
			<td scope="col" >手机:13588888888</td>
		</tr>
		<tr>
			<td scope="col" align="left" colspan="3">其他联系人 </td>
		</tr>
		<tr>
			<td scope="col" >姓名:李四 </td>
			<td scope="col" >关系:朋友</td>
			<td scope="col" >手机:13599999999</td>
		</tr>
	</table>
	
	<!-- 工作信息 -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="fs-14 tbLc dp-n">
		<tr>
			<td scope="col" >职业状态:工薪阶层</td>
			<td scope="col" >单位名称:北京宇信易诚</td>
			<td scope="col" >职位:程序员</td>
		</tr>
		<tr>
			<td scope="col" >工作邮箱:zhangsf@belink.com</td>
			<td scope="col" >工作城市:北京</td>
			<td scope="col" >公司地址:北京市三环东路</td>
		</tr>
		<tr>
			<td scope="col" >公司类别:民企</td>
			<td scope="col" >公司行业:金融IT</td>
			<td scope="col" >公司规模:100-200人</td>
		</tr>
		<tr>
			<td scope="col" >在现单位工作年限:5年</td>
			<td scope="col" >月收入:$3000</td>
			<td scope="col" >公司电话:010-77777777</td>
		</tr>
	</table>
	
	<!-- 资产信息 -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="fs-14 tbLc dp-n">
		<tr>
			<td scope="col" >信用报告:有</td>
			<td scope="col" >是否有房:是</td>
		</tr>
		<tr>
			<td scope="col" >有无房贷:有</td>
			<td scope="col" >是否有车:无</td>
		</tr>
	</table>
	</div>
</div>





<div class="tabBox ml-20 mr-20 mb-30 mt-20">
	<div class="tabTitle clearfix xxx">
		<h3 class="active"><span>投资信息</span></h3>
		<h3><span>借款信息</span></h3>
		<a class="fs-12 fl-r c-blue1 mt-10" href="#"></a>
	</div>
	<div class="tabContent mt-20 xxx">
	<!-- 投资信息 -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="fs-14 tbLc">
		<tr>
			<th scope="col">序号</th>
			<th scope="col">借款人用户名</th>
			<th scope="col">真实姓名 </th>
			<th scope="col">借款标题</th>
			<th scope="col">借款ID</th>
			<th scope="col">手机号码</th>
			<th scope="col">投资日期</th>
			<th scope="col">还款方式</th>
			<th scope="col">投资期限</th>
			<th scope="col">投资金额</th>
			<th scope="col">投资状态</th>
		</tr>
		<tr>
			<td align="center">1</td>
			<td align="center">借点钱</td>
			<td align="center">李小四</td>
			<td align="center">急需用钱</td>
			<td align="center">ID</td>
			<td align="center">13933334444</td>
			<td align="center">2013-09-04 11:32:30</td>
			<td align="center">每月还款，等额本息</td>
			<td align="center">3个月</td>
			<td align="center">12000元</td>
			<td align="center">投标中</td>
		</tr>
		<tr>
			<td align="center">1</td>
			<td align="center">奔跑的野马</td>
			<td align="center">张三丰</td>
			<td align="center">急需用钱</td>
			<td align="center">ID</td>
			<td align="center">13933333333</td>
			<td align="center">2013-09-05 11:32:30</td>
			<td align="center">每月还款，等额本息</td>
			<td align="center">3个月</td>
			<td align="center">12000元</td>
			<td align="center">正常还款中</td>
		</tr>
	</table>
	
	<!-- 借款信息 -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="fs-14 tbLc dp-n">
		<tr>
			<th scope="col">序号</th>
			<th scope="col">借款标题</th>
			<th scope="col">借款ID</th>
			<th scope="col">标的类型</th>
			<th scope="col">贷款金额</th>
			<th scope="col">利率</th>
			<th scope="col">贷款期限</th>
			<th scope="col">申请借款日期</th>
			<th scope="col">还款方式</th>
			<th scope="col">逾期记录</th>
			<th scope="col">借款状态</th>
		</tr>
		<tr>
			<td align="center">1</td>
			<td align="center">急需用钱</td>
			<td align="center">ID</td>
			<td align="center">个人信用贷</td>
			<td align="center">20000</td>
			<td align="center">10%</td>
			<td align="center">3个月</td>
			<td align="center">2013-09-04 11:32:30</td>
			<td align="center">每月还款，等额本息</td>
			<td align="center">有</td>
			<td align="center">正常还清</td>
		</tr>
		<tr>
			<td align="center">2</td>
			<td align="center">买房</td>
			<td align="center">ID</td>
			<td align="center">个人信用贷</td>
			<td align="center">10000</td>
			<td align="center">8%</td>
			<td align="center">3个月</td>
			<td align="center">2013-09-05 11:32:30</td>
			<td align="center">每月还款，等额本息</td>
			<td align="center">--</td>
			<td align="center">投标中</td>
		</tr>
	</table>
	</div>
</div>


