<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>百贷网</title>
<script type="text/javascript" src="../../include.js"></script>
<script>
$(function(){
	//nav栏点亮
	$('.nav .headList').eq(4).find('.typeUser').find('a').eq(0).addClass('active');
})
</script>
</head>

<body>
<div class="wrap">
	<!-- header start -->
	<div class="header">
	</div>
	<!-- header end -->
	<!-- middle start -->
	<div class="middle">
		<div class="box w-960 m-0a mt-20 mb-20 clearfix">
			<div class="part-left fl-l">
				<a href="index.html" class="active">
					<img src="../../images/lxy_03a.png" alt="">
					<span>企业借款</span>
				</a>
				<a href="creditInfo.html" >
					<img src="../../images/lxy_05.png" alt="">
					<span>认证资料信息</span>
				</a>
				<a href="notice.html">
					<img src="../../images/lxy_06.png" alt="">
					<span>消息通知</span>
				</a>
			</div>
			<div class="part-right fl-r pt-30">
				<div class="bd-s1c w-90b m-0a p-20">
					<pre class="wb-p">
甲方（投资人）：
用户名：
投标金额：
借款期限：
每月应收本息：
总计：


乙方（借款人）：
用户名：
真实姓名：
身份证号：

丙方：（平台服务商）
联系方式：
地址：

鉴于：
1、丙方是一家在北京市合法成立并有效存续的有限责任公司，拥有www.********.com 网站（以下简称“该网站”）的经营权，提供信用咨询，为交易提供信息服务；
2、乙方已在该网站注册，并承诺其提供给丁方的信息是完全真实的；
3、甲方承诺对本协议涉及的借款具有完全的支配能力，是其自有闲散资金，为其合法所得；并承诺其提供给丁方的信息是完全真实的；
4、乙方有借款需求，甲方亦同意借款，双方有意成立借贷关系；

各方经协商一致，于（日期）签订如下协议，共同遵照履行：

第一条     借款基本信息
借款详细用途：
借款本金数额：
借款年利率：
借款期限：
月偿还本息数额：
还款分期月数：
还款日

第二条     各方权利和义务
甲方权利和义务
乙方权利和义务
丙方权利和义务

第三条     费用规则

第四条      违约责任

第五条     法律及争议解决

第六条     附则
					</pre>
				</div>
				<div class="w-90b m-0a ta-c mt-20 mb-20">
					<label>
						<input type="checkbox" name="" id=""/>
						阅读并同意合同内容
					</label><br/>
					<input type="submit" value="确认" class="subBtn h-30 lh-30 fs-14  pl-40 pr-40 round-3 mt-10 mb-10 mr-10" onClick="location.href='userCenter.html'"/>
					<input type="submit" value="合同打印" class="subBtn h-30 lh-30 fs-14  pl-40 pr-40 round-3 mt-10 mb-10" onClick="javascript:;"/>
					<div>温馨提示：完成合同确认后平台才打款</div>
				</div>
			</div>
		</div>
	</div>
	<!-- middle end -->
	<!-- footer start -->
	<div class="footer">
	</div>
	<!-- footer end -->
</div>
</body>
</html>
