<script type="text/javascript" src="../scripts/forPage/infoNotice.js"></script>
<div class="searchBox ml-20 mt-20 mb-30 clearfix">

	用户名&nbsp;<input name="" type="text">&nbsp;&nbsp; 姓名&nbsp;<input
		name="" type="text">&nbsp;&nbsp;<br> 请选择业务类型： <input
		type="checkbox" name="checkbox1" value="checkbox">全部&nbsp;&nbsp;
	<input type="checkbox" name="checkbox2" value="checkbox">投资人&nbsp;&nbsp;
	<input type="checkbox" name="checkbox3" value="checkbox">借款人&nbsp;&nbsp;
	<input type="checkbox" name="checkbox4" value="checkbox">企业用户&nbsp;&nbsp;
	<input type="checkbox" name="checkbox4" value="checkbox">个人用户&nbsp;&nbsp;
	<input type="checkbox" name="checkbox4" value="checkbox">新用户<br>


	请选择性别： <input type="radio" name="radiobutton" value="radiobutton"
		checked>男 &nbsp;&nbsp; <input type="radio" name="radiobutton"
		value="radiobutton">女<br> 请选择年龄区间： <select>
		<option selected="selected">20</option>
		<option>30</option>
		<option>40</option>
		<option>50</option>
		<option>60</option>
	</select>岁 至 <select>
		<option selected="selected">20</option>
		<option>30</option>
		<option>40</option>
		<option>50</option>
		<option>60</option>
	</select>岁 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 请选择经营年限： <select>
		<option selected="selected">20</option>
		<option>30</option>
		<option>40</option>
		<option>50</option>
		<option>60</option>
	</select>年 至 <select>
		<option selected="selected">20</option>
		<option>30</option>
		<option>40</option>
		<option>50</option>
		<option>60</option>
	</select>年<br> 请输入居住址(经营场所)：<input name="address" type="text" size="80"><br>

	请输入注册时间区间： <select name="regStartTime">
		<option selected="selected">2013年</option>
		<option>2014年</option>
		<option>2015年</option>
		<option>2016年</option>
		<option>2017年</option>
	</select> <select name="regStartMonth">
		<option selected="selected">1月</option>
		<option>2月</option>
		<option>3月</option>
		<option>4月</option>
		<option>5月</option>
		<option>6月</option>
	</select> 至 <select name="regEndTime">
		<option selected="selected">2013年</option>
		<option>2014年</option>
		<option>2015年</option>
		<option>2016年</option>
		<option>2017年</option>
	</select> <select name="regEndMonth">
		<option selected="selected">7月</option>
		<option>8月</option>
		<option>9月</option>
		<option>10月</option>
		<option>11月</option>
		<option>12月</option>
	</select><br> 请输入投资金额(元)：<input name="regFinance1" type="text">
	&nbsp;&nbsp;至 &nbsp;&nbsp;<input name="regFinance2" type="text"><br>
	请输入借款金额(元)：<input name="borrowFinance1" type="text">
	&nbsp;&nbsp;至 &nbsp;&nbsp;<input name="borrowFinance2" type="text"><br>
	请输入逾期次数(次)：<input name="delayTimes1" type="text"> &nbsp;&nbsp;至
	&nbsp;&nbsp;<input name="delayTimes2" type="text"><br></br>

	<div align="center">
		<input type="button" value="确定"
			class="subBtn round-3 h-30 lh-28 pl-30 pr-30">
	</div>

</div>


<div class="tabBox ml-20 mr-20 mb-30 mt-20">
	<div class="tabContent mt-20">
		用户人数：1000043人
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所占比例：28.5%
		<table width="100%" border="0" cellspacing="0" cellpadding="0"
			class="fs-14 tbLc">
			<tr>
				<th scope="col">序号</th>
				<th scope="col">用户名</th>
				<th scope="col">真实姓名</th>
				<th scope="col">证件号码</th>
				<th scope="col">投资总额(元)</th>
				<th scope="col">借款总额(元)</th>
				<th scope="col">操作</th>
			</tr>
			<tr>
				<td align="center">1</td>
				<td align="center">jackson1</td>
				<td align="center">杰克逊</td>
				<td align="center">123456789012345678</td>
				<td align="center">100,000,000元</td>
				<td align="center">80,000元</td>
				<td align="center"><a href="#">查看</a> &nbsp; <a href="#">发送通知</a></td>
			</tr>
			<tr>
				<td align="center">2</td>
				<td align="center">jackson2</td>
				<td align="center">杰克逊</td>
				<td align="center">123456789012345678</td>
				<td align="center">100,000,000元</td>
				<td align="center">80,000元</td>
				<td align="center"><a href="#">查看</a> &nbsp; <a href="#">发送通知</a></td>
			</tr>
			<tr>
				<td align="center">3</td>
				<td align="center">jackson3</td>
				<td align="center">杰克逊</td>
				<td align="center">123456789012345678</td>
				<td align="center">100,000,000元</td>
				<td align="center">80,000元</td>
				<td align="center"><a href="#">查看</a> &nbsp; <a href="#">发送通知</a></td>
			</tr>
		</table>
		<div class="page mt-30">
			<div class="ui-page-outer">
				<div class="ui-page">
					<span class="ui-page-on">1</span> <a href="#" data-page="2">2</a> <a
						href="#" data-page="3">3</a> <span class="ui-page-dot">...</span>
					<a href="#" data-page="16">16</a> <a href="#" class="ui-page-next"
						data-page="2">&gt;</a>
				</div>
			</div>
		</div>
		<input type="button" value="发送通知" onclick="sendNotice('sendNotice.html')" class="subBtn round-3 h-30 lh-28 pl-30 pr-30">
	</div>
</div>