<div class="searchBox ml-20 mt-20 mb-30 clearfix">

	消息类型：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="checkbox" name="checkbox1" value="checkbox">全部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="checkbox" name="checkbox2" value="checkbox">邮件&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="checkbox" name="checkbox3" value="checkbox">手机短信&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="checkbox" name="checkbox4" value="checkbox">通知&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</div>


<div class="tabBox ml-20 mr-20 mb-30 mt-20">
	<div class="tabContent mt-20">
		编写消息：<br>
		<div align="center">
			<textarea cols="80" rows="20">
							
						</textarea>
			<br></br> <input type="button" value="发送"
				class="subBtn round-3 h-30 lh-28 pl-30 pr-30">
		</div>

	</div>
</div>