<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>百贷网-后台管理系统</title>
    <script type="text/javascript" src="../../include.js" ></script>
	<script type="text/javascript" src="../../scripts/forPage/fullBorrow_stop.js"></script>
	
</head>
<body>

<div class="ml-20 mr-20 clearfix" style="margin-top: 10px">
	<div class="w-225 fl-l" style="width: 100%;">
		<span>放款管理 -> 确认合同查看及放款</span><br>
	</div>
</div>
<div class="tabBox ml-20 mr-20 mb-30 mt-20"
	style="border: 1px #CCC solid">
	<table style="margin: 10px 20px 15px 10px; width: 100%">
		<tbody align="left">

		</tbody>
	</table>
	<div style="width: 100%; margin: 50px auto;">
		<span style="margin-left: 300px;">
			<a class="blueBtn round-2 h-30 lh-30 pl-15 pr-15 mr-3" onclick="loans()">放款</a>
		</span>
		<span style="margin-left: 30px">
			<a class="blueBtn round-2 h-30 lh-30 pl-15 pr-15 mr-3" onclick="termination()">终止ֹ</a>
		</span>
	</div>
</div>
</body>