<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>百贷网-后台管理系统</title>
    <script type="text/javascript" src="../../include.js" ></script>
	<script type="text/javascript" src="../../scripts/forPage/loanManage.js"></script>
	
</head>
<body>
<div class="ml-20 mr-20 clearfix" style="margin-top: 10px">
	<div class="w-225 fl-l" style="width: 100%; padding-bottom: 10px">
		<span>放款管理 -> 满标借款</span><br>
	</div>
	<div>
		<span>借款人&nbsp;
			<input id="personName" type="text" class="txt-small w-120">
		</span> 
			<span style="margin-left: 200px">标的类型&nbsp;</span>
		<span>
			<select id="loanType" style="width: 100px;">
				<option value="ALL" selected="selected">全部</option>
				<option value='CREDIT'>个人信用贷</option>
				<option value='OPERATE'>经营贷</option>
			</select>
		</span> 
		<span style="margin-left: 25px">
			<input id="guarantee" type="checkbox" />担保借款
		</span> 
		<span style="margin-left: 23px">
			<a id="searchBtn" onclick="queryFullBidList()" class="blueBtn round-2 h-30 lh-30 pl-15 pr-15 mr-3">搜索</a>
		</span>

	</div>
</div>
<div class="tabBox ml-20 mr-20 mb-30 mt-20">
	<div class="tabContent mt-20">
		<table class="listTable">
			<caption>
				<div class="ta-l">
					<img src="../../images/table-list.png" /> 满标借款
				</div>
			</caption>
			<thead>
				<tr>
					<td style="width: 18%">借款人</td>
					<td style="width: 12%">标的类型</td>
					<td style="width: 12%">借款金额</td>
					<td style="width: 12%">年利率</td>
					<td style="width: 12%">借款期限</td>
					<td style="width: 10%">已筹时间</td>
					<td style="width: 12%">合同确认状态</td>
					<td style="width: 12%">操作</td>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
</div>

	<div class="page mt-30">
		<div class="ui-page-outer">
			<div class="ui-page">
				<div id="pageNav"></div>
			</div>
		</div>
	</div>
	
</body>