<script type="text/javascript" src="../scripts/forPage/fundCheckQuery.js" ></script>
<div class="fs-16 ml-20 mt-20 mb-10">
查询统计&nbsp;-&gt;&nbsp;收费信息&nbsp;-&gt;&nbsp;资金对账表
</div>
<div class="searchBox ml-10 mt-20 mb-30 clearfix">
	<div class="fl-l ml-15">用户名&nbsp;
		<input type="text" class="txt-small w-120">
	</div>
	
	<div class="fl-l ml-40">
		<input id='queryCheck' type="button" value="搜索" class="subBtn round-3 h-30 lh-28 pl-30 pr-30">
	</div>
</div>
<div class="pt-15 pb-15 pl-20 pr-20" style="overflow: auto; ">
	<table class="listTable" style='width:1200px;'>
		<thead>
			<tr>
				<td>用户名</td>
				<td>真实姓名/企业名称</td>
				<td>可用余额</td>
				<td>冻结金额</td>
				<td>投资资产</td>
				<td>已收本息</td>
				<td>代收本息</td>
				<td>投资服务费</td>
				<td>借款负债</td>
				<td>待还本息</td>
				<td>已还本息</td>
				<td>借款服务费</td>
				<td>提现总额</td>
				<td>提现费用</td>
				<td>充值总额</td>
				<td>充值费用</td>
			</tr>
		</thead>
		<tbody id='checkTbody'>
		</tbody>
	</table>
</div>
			
