<script type="text/javascript" src="../scripts/forPage/fundManage.js" ></script>
<div class="fs-16 ml-20 mt-20 mb-10">
查询统计&nbsp;-&gt;&nbsp;收费信息
</div>
<div class=''>
	<div class="searchBox ml-10 mt-20 mb-30 clearfix">
		<div class="fl-l ml-20 bd-s1c bdc-999 bdw-1 w-120 h-30 lh-30 ta-c">平台账户余额</div>
		<div class="fl-l ml-20"><span id='lastMoney'></span></div>
	</div>
	<div class="searchBox ml-10 mt-20 mb-30 clearfix">
		<div class="fl-l ml-30">其中:&nbsp;&nbsp;</div>
		<div class="fl-l ml-90 bd-s1c bdc-999 bdw-1 w-120 h-30 lh-30 ta-c">充值金额</div>
		<div class="fl-l ml-20"><span id='recharge'></span></div>
	</div>
	<div class="searchBox ml-10 mt-20 mb-30 clearfix">
		<div class="fl-l ml-160 bd-s1c bdc-999 bdw-1 w-120 h-30 lh-30 ta-c">提现金额</div>
		<div class="fl-l ml-20"><span id='withdraw'></span></div>
	</div>
	<div class="searchBox ml-10 mt-20 mb-30 clearfix">
		<div class="fl-l ml-160 bd-s1c bdc-999 bdw-1 w-120 h-30 lh-30 ta-c">利息</div>
		<div class="fl-l ml-20"><span id='accrual'></span></div>
	</div>
	<div class="searchBox ml-10 mt-20 mb-30 clearfix">
		<div class="fl-l ml-160 bd-s1c bdc-999 bdw-1 w-120 h-30 lh-30 ta-c">罚息</div>
		<div class="fl-l ml-20"><span id='penalty'></span></div>
	</div>
	<div class="searchBox ml-10 mt-20 mb-30 clearfix">
		<div class="fl-l ml-160 bd-s1c bdc-999 bdw-1 w-120 h-30 lh-30 ta-c">借款服务费</div>
		<div class="fl-l ml-20"><span id='loanFee'></span></div>
	</div>
	<div class="searchBox ml-10 mt-20 mb-30 clearfix">
		<div class="fl-l ml-160 bd-s1c bdc-999 bdw-1 w-120 h-30 lh-30 ta-c">投资服务费</div>
		<div class="fl-l ml-20"><span id='investFee'></span></div>
	</div>
</div>

