<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>百贷网</title>
    <script type="text/javascript" src="../../include.js" ></script>
 	<script type="text/javascript" src="../../scripts/forPage/platFeeTotalQuery.js" ></script>
 	
</head>
<body>
<div id="pageNav"></div>
<div class="wrap">
	<!-- header start -->
	<div class="header">
		<div class="top ta-r">
			<div class="w-960 m-0a">
				<a href="#" class="c-orangeLight mr-5">张三</a>
				<a href="login/login.html" class="c-ccc">退出</a>
			</div>
		</div>
		<div class="logo">
			<div class="w-960 m-0a">
				<div class="fl-l">
					<a href="index.html"><img src="../../images/logo.png" alt="LOGO"></a>
				</div>
				<div class="fl-r">
					<ul class="nav">
						<li>
							<a href="index.html" class="active">首页</a>
						</li>
						<li>
							<a href="#">贷前管理</a>
						</li>
						<li>
							<a href="#">贷中管理</a>
						</li>
						<li>
							<a href="#">贷后管理</a>
						</li>
						<li>
							<a href="#">统计查询</a>
						</li>
						<li>
							<a href="#">资金管理</a>
						</li>
						<li>
							<a href="#">合同管理</a>
						</li>
						<li>
							<a href="#">用户管理</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- header end -->
	<!-- middle start -->
	<div class="middle">
		<div class="box w-960 m-0a mt-20 mb-20 clearfix">
			<div class="part-left fl-l">
					<a href="userCenter.html">
						<img src="../../images/lxy_01.png" alt="">
						<span>个人中心</span>
					</a>
					<a href="myFinance.html">
						<img src="../../images/lxy_02.png" alt="">
						<span>理财管理</span>
					</a>
					<a href="myLoan.html" class="active">
						<img src="../../images/lxy_03a.png" alt="">
						<span>借款管理</span>
					</a>
					<div class="nextNav">
						<a href="myLoanTender.html" class="active" >投标中的借款</a>
						<a href="myLoanRepay.html" >正常还款中的借款</a>
						<a href="myLoanOverdue.html" >逾期的借款</a>
						<a href="myLoanHistory.html" >历史借款</a>
					</div>
					<a href="myMoney.html">
						<img src="../../images/lxy_04.png" alt="">
						<span>资金管理</span>
					</a>
					<a href="accountUserBaseInfo.html">
						<img src="../../images/lxy_05.png" alt="">
						<span>账户管理</span>
					</a>
					<a href="message.html">
						<img src="../../images/lxy_06.png" alt="">
						<span>消息通知</span>
					</a>
			</div>
			<div class="part-right fl-r">
				<div class="fs-16 ml-20 mt-20 mb-10">
				平台费用&nbsp;-&gt;&nbsp;平台费用统计
				</div>
				<div class="searchBox ml-10 mt-20 mb-30 clearfix">
					<div class="fl-l ml-10">统计时间类型&nbsp;
						<select class='sel-small'>
							<option value=''>按月</option>
							<option value=''>按时间段</option>
							<option value=''>按年</option>
						</select>
					</div>
					<div class="fl-l ml-15">费用类型&nbsp;
						<select class='sel-small'>
							<option value=''>全部</option>
							<option value=''>借款服务费</option>
							<option value=''>投资服务费</option>
							<option value=''>充值费</option>
							<option value=''>提现费</option>
						</select>
					</div>
					<div class="fl-l ml-30">
						<input id='queryRecord' type="button" value="搜索" class="subBtn round-3 h-30 lh-28 pl-30 pr-30">
					</div>
				</div>
				<div class="pt-15 pb-15 pl-20 pr-20">
					<table class="listTable">
						<thead>
							<tr>
								<td>费用类型</td>
								<td>统计金额</td>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
				</div>
			
			</div>
		</div>
	</div>
	<!-- middle end -->
	<!-- footer start -->
	<div class="footer">
		<div class="w-960 m-0a">
			<div>
				<h3 class="fs-18 dp-i">友情链接</h3>                                                       		
				<a href="javascript:;">慧聪金融</a>
				<a href="javascript:;">易观智库</a>
				<a href="javascript:;">好贷网</a>
				<a href="javascript:;">银率网</a>
				<a href="javascript:;">和讯银行</a>
				<a href="javascript:;">国美在线</a>
				<a href="javascript:;">财经道</a>
				<a href="javascript:;">电商服务</a>
				<a href="javascript:;">ShopEx</a>
				<a href="javascript:;">58投资担保</a>
			</div>
			<div class="line"></div>
			<div class="w-700 fl-l">
				<h3 class="fs-18 dp-i">公司介绍</h3>
				<a href="javascript:;">安全保障</a>
				<a href="javascript:;">媒体报道</a>
				<a href="javascript:;">社会责任</a>
				<a href="javascript:;">网站地图</a>
				<a href="javascript:;">帮助中心</a>
				<a href="javascript:;">联系我们</a>
			</div>
			<div class="w-250 fl-r fs-18 ta-r">
				客服电话&nbsp;&nbsp;400-027-8080
			</div>
			<div class="clear ta-c pb-100">&copy; 2013 人人贷 All rights reserved    人人贷商务顾问(北京)有限公司       京ICP证 100953号</div>
		</div>
	</div>
	<!-- footer end -->
</div>
</body>
</html>
