<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>百贷网</title>
<script type="text/javascript" src="../../include.js" ></script>
<script>
$(function(){
	//nav栏点亮
	$('.nav .headList').eq(4).find('.noUser').find('a').eq(1).addClass('active');
})
</script>
</head>

<body>
<div class="wrap">
	<!-- header start -->
	<div class="header">
	</div>
	<!-- header end -->
	<!-- middle start -->
	<div class="middle">
		<div class="box w-960 m-0a mt-20 mb-20 clearfix pt-100 pb-100">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="right" class="w-30b">
						<img src="../../images/lxy_21.png" width="65" height="65" class="mr-20">
					</td>
					<td class="c-blue2 fs-24">对不起！交易密码错误，请重试。</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td class="pt-20">
						<a href="javascript:;" class="subBtn h-30 lh-30 pl-25 pr-25 round-3">返回首页</a>
						<a href="javascript:;" class="subBtn h-30 lh-30 pl-25 pr-25 round-3">返回交易页面</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- middle end -->
	<!-- footer start -->
	<div class="footer">
	</div>
	<!-- footer end -->
</div>
</body>
</html>
