<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>百贷网</title>
<script type="text/javascript" src="../../include.js"></script>
<script>
$(function(){
	//nav栏点亮
	$('.nav .headList').eq(4).find('.typeUser').find('a').eq(0).addClass('active');
})
</script>
</head>

<body>
<div class="wrap">
	<!-- header start -->
	<div class="header">
	</div>
	<!-- header end -->
	<!-- middle start -->
	<div class="middle">
		<div class="box w-960 m-0a mt-20 mb-20 clearfix">
			<div class="part-left fl-l">
					<a href="userCenter.html">
						<img src="../../images/lxy_01.png" alt="">
						<span>信息总览</span>
					</a>
					<a href="myFinance.html">
						<img src="../../images/lxy_02.png" alt="">
						<span>我的投资</span>
					</a>
					<a href="myLoan.html">
						<img src="../../images/lxy_03.png" alt="">
						<span>我的借款</span>
					</a>
					<a href="myMoney.html">
						<img src="../../images/lxy_04.png" alt="">
						<span>我的资金账户</span>
					</a>
					<a href="account.html" class="active">
						<img src="../../images/lxy_05a.png" alt="">
						<span> 安全与设置</span>
					</a>
					<div class="nextNav">
						<a href="account.html">
							<span>个人基础信息</span>
						</a>
						<a href="accountCreditInfo.html">
							<span>认证资料信息</span>
						</a>
						<a href="accountSecurity.html" class="active">
							
							<span>安全设置</span>
						</a>
					</div>
					<a href="notice.html">
						<img src="../../images/lxy_06.png" alt="">
						<span>消息通知</span>
					</a>
			</div>
			<div class="part-right fl-r">
				<div class="uc uc_ups">
					<div class="title">
						<a href="accountSecurity.html" class="btn btn-small btn-gray">返回</a><span>修改交易密码</span>
					</div>
					<div class="content">
						<table>
								<tr>
									<td class="ta-r" width="200px"><span class="c-redLight">*　</span>原交易密码：</td>
									<td width="450px"><input type="password" class="inp" /></td>
								</tr>
								<tr>
									<td class="ta-r"><span class="c-redLight">*　</span>新交易密码：</td>
									<td><input type="password" class="inp" /></td>
								</tr>
								<tr>
									<td class="ta-r"><span class="c-redLight">*　</span>确认新交易密码：</td>
									<td><input type="password" class="inp" /></td>
								</tr>
								<tr>
									<td class="ta-r"></td>
									<td><a href="accountSecurity.html" class="btn btn-middle btn-bgray">提交</a></td>
								</tr>
						</table>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- middle end -->
	<!-- footer start -->
	<div class="footer">
	</div>
	<!-- footer end -->
</div>
</body>
</html>
