<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>百贷网</title>
<script type="text/javascript" src="../../include.js"></script>
<script>
$(function(){
	//nav栏点亮
	$('.nav .headList').eq(4).find('.typeUser').find('a').eq(0).addClass('active');
})
</script>
</head>

<body>
<div class="wrap">
	<!-- header start -->
	<div class="header">
	</div>
	<!-- header end -->
	<!-- middle start -->
	<div class="middle">
		<div class="box w-960 m-0a mt-20 mb-20 clearfix">
			<div class="part-left fl-l">
					<a href="userCenter.html">
						<img src="../../images/lxy_01.png" alt="">
						<span>个人中心</span>
					</a>
					<a href="myFinance.html">
						<img src="../../images/lxy_02.png" alt="">
						<span>理财管理</span>
					</a>
					<a href="myLoan.html">
						<img src="../../images/lxy_03.png" alt="">
						<span>借款管理</span>
					</a>
					<a href="myMoney.html">
						<img src="../../images/lxy_04.png" alt="">
						<span>资金管理</span>
					</a>
					<a href="accountUserBaseInfo.html" class="active">
						<img src="../../images/lxy_05a.png" alt="">
						<span>账户管理</span>
					</a>
					<div class="nextNav">
						<a href="accountUserBaseInfo.html" class="active">个人基础信息</a>
						<a href="accountCreditInfo.html">信用信息</a>
						<a href="accountSecurity.html">安全设置</a>
					</div>
					<a href="notice.html">
						<img src="../../images/lxy_06.png" alt="">
						<span>消息通知</span>
					</a>
			</div>
			<div class="part-right fl-r">
				<div class="uc uc_baseInfo">
					<div class="content">
						<table>
								<tr >
									<td width="50%"><span class="c-redLight">*</span>用户名：<span>test</span></td>
									<td width="50%"></td>
								</tr>
								<tr>
									<td><span class="c-redLight">*</span>真实姓名：<span>赵小明</span></td>
									<td><span class="had_identy">已认证</span></td>
								</tr>
								<tr>
									
									<td><span class="c-redLight">*</span>身份证号：<span>412727**********</span></td>
									<td><span class="had_identy">已认证</span></td>
								</tr>
								<tr>
									
									<td><span class="c-redLight">*</span>手机号码：<span>182********</span></td>
									<td><a href="accountBindPhone.html" class="w-100b h-100b"><span class="no_identy">去认证</span></a></td>
								</tr>
								<tr>
									
									<td><span class="c-redLight">*</span>邮件地址：<span>test@belink.com</span></td>
									<td><span class="had_identy">已认证</span></td>
								</tr>
								<tr>
									
									<td><span class="c-redLight">*</span>性别：<span>男</span></td>
									<td></td>
								</tr>
								<tr >
									<td ><span class="c-redLight">*</span>出生日期：<span>2012.12.12</span></td>
									<td ></td>
								</tr>
						</table>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- middle end -->
	<!-- footer start -->
	<div class="footer">
	</div>
	<!-- footer end -->
</div>
</body>
</html>
