<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>百贷网</title>
<script type="text/javascript" src="../../include.js"></script>
<script type="text/javascript" src="../../scripts/lib/jquery.validate.min.js" ></script>
<script type="text/javascript">
$(document).ready(function(){
	//nav栏点亮
	$('.nav .headList').eq(4).find('.typeUser').find('a').eq(0).addClass('active');
	//获取图片验证码
	/*api.auth.getPicVerCode(null,{
		success:function(){
			$('#verCodeImg').attr('src','');
		}
	});*/
	
	//原邮箱
	var phoneNum = '';
	WD.api.user.account(null,function(data){
		$('#oldEmail').text(data.email);
		$('#gotoOldEmail').text(data.email);
		$('#gotoOldEmail').attr('href','http://mail.'+data.email.split('@')[1]);
		phoneNum = data.mobile;

		if(WD.UrlParams.result=='success'){
			if(WD.UrlParams.mode=='byEmail'){
				WD.api.user.updateEmailAsEmail({id:WD.UrlParams.id,email:WD.UrlParams.email},function(data){
					if(data.settingValue == true){
						$('#step4').show();
						$('#step1,#step2,#step3').hide();
						$('#newEmailShow').text(WD.UrlParams.email);
					}
				});
			}
			if(WD.UrlParams.mode=='byMobile'){
				WD.api.user.updateEmailAsPhone({mobile:phoneNum,email:WD.UrlParams.email},function(data){
					if(data.settingValue == true){
						$('#step4').show();
						$('#step1,#step2,#step3').hide();
						$('#newEmailShow').text(WD.UrlParams.email);
					}
				});
			}
		}

	});

	$('.content table:gt(0)').hide();
	$('#step3').hide();
	if(WD.UrlParams.result=='setNewEmail'){
		$('#step2').show();
		$('#step1,#step3,#step4').hide();
	}
	
	/* ===== 验证原邮箱 ===== */
	$("#signupForm1").validate({
		rules: {
			verifyCode: {
				required: true,
				rangelength: [4,6]
			}
		},
		messages: {
            verifyCode: {
                required: "请输入验证码",
                rangelength: "验证码位数不正确"
            }
        },
		errorPlacement: function(error, element) {
			error.appendTo(element.parents('td'));
		}, 
        submitHandler:function() {
			if($('#verifyCode').val().length==0){
				$('#verifyCode').parent().append('<span class="c-redLight ml-10">请输入验证码</span>');
				return false;
			}
			//验证原邮箱
			WD.api.user.sendEmailOld({email:$('#oldEmail').text()},function(data){
				$('.checkOldEmail').hide();
				$('.goOldEmail').show();
			});
			
			/*$('.content table').hide();
			$('#step3').hide();
			$('.content table:eq(1)').show();
			$('.step').addClass('step2');*/
		}
	});
	
	/* ===== 验证新邮箱 ===== */
	$("#signupForm2").validate({
		rules: {
			newEmail: {
				required: true,
				email:true
			}
		},
		messages: {
            newEmail: {
                required: "请输入新邮箱",
                email:"请输入正确的邮箱格式"
            }
        },
		errorPlacement: function(error, element) {
			error.appendTo(element.parents('td'));
		}, 
        submitHandler:function() {
			if($('#newEmail').val().length==0){
				$('#newEmail').parent().append('<span class="c-redLight ml-10">请输入新邮箱</span>');
				return false;
			}
			//发送认证邮件
			WD.api.user.sendEmailNew({email:$('#newEmail').val(),mode:'byEmail'},function(data){
				$('#gotoNewEmail').text($('#newEmail').val());
				$('#gotoNewEmail').attr('href','http://mail.'+$('#newEmail').val().split('@')[1]);
				$('#newEmailShow').text($('#newEmail').val());
				$('.content table').hide();
				$('#step3').show();
			});
		}
	});
	$('#sendOldEmailAgain').on('click',function(){
		WD.api.user.sendEmailOld({email:$('#oldEmail').text()},function(data){
		})
	})
	$('#sendNewEmailAgain').on('click',function(){
		WD.api.user.sendEmailNew({email:$('#newEmail').text()},function(data){
		})
	})
});
</script>
</head>

<body>
<div class="wrap">
	<!-- header start -->
	<div class="header">
	</div>
	<!-- header end -->
	<!-- middle start -->
	<div class="middle">
		<div class="box w-960 m-0a mt-20 mb-20 clearfix">
			<div class="part-left fl-l">
				<a href="userCenter.html">
					<img src="../../images/lxy_01.png" alt="">
					<span>信息总览</span>
				</a>
				<a href="myFinance.html">
					<img src="../../images/lxy_02.png" alt="">
					<span>我的投资</span>
				</a>
				<a href="myLoan.html">
					<img src="../../images/lxy_03.png" alt="">
					<span>我的借款</span>
				</a>
				<a href="myMoney.html">
					<img src="../../images/lxy_04.png" alt="">
					<span>我的资金账户</span>
				</a>
				<a href="account.html" class="active">
					<img src="../../images/lxy_05a.png" alt="">
					<span> 安全与设置</span>
				</a>
				<div class="nextNav">
					<a href="account.html">
						<span>个人基础信息</span>
					</a>
					<a href="accountCreditInfo.html">
						<span>认证资料信息</span>
					</a>
					<a href="accountSecurity.html" class="active">
						
						<span>安全设置</span>
					</a>
				</div>
				<a href="notice.html">
					<img src="../../images/lxy_06.png" alt="">
					<span>消息通知</span>
				</a>
			</div>
			<div class="part-right fl-r">
				<div class="uc uc_ups">
					<div class="title">
						<a href="accountSecurity.html" class="btn btn-small btn-gray">返回</a><span>修改邮箱</span>
					</div>
					<div class="content mt-20">
						<div id="step1">
							<form id="signupForm1" method="post" action="">
							<table class="checkOldEmail">
								<tr><td colspan='2'>
									<div class="step"></div>
									<div class="pl-80 mb-30">
										<span class="w-150 ta-c c-orangeDeep">验证原邮箱</span>
										<span class="w-150 ta-c">填写新邮箱</span>
										<span class="w-150 ta-c">验证新邮箱</span>
										<span class="w-150 ta-c">成功</span>
									</div>
								</td></tr>
								<tr>
									<td class="ta-r" width="200px">原邮箱：</td>
									<td width="450px" id="oldEmail"></td>
								</tr>
								<tr>
									<td class="ta-r" width="200px"><span class="c-redLight">*　</span>验证码：</td>
									<td width="550px">
										<input type="text" class="txt-small w-160" id="verifyCode" name="verifyCode"/>
										<a href="javascript:;" class="valid_code">换一张</a>
									</td>
								</tr>
								<tr>
									<td class="ta-r"></td>
									<td><input type="submit" class="btn btn-middle btn-bgray" value="发送验证邮件"></td>
								</tr>
								<tr>
									<td  colspan='2' class="ta-c">为保障您的账户信息安全，在变更重要信息时需要进行身份验证</td>
								</tr>
							</table>
							</form>
							<div class="dp-n goOldEmail">
								<div class="step"></div>
								<div class="pl-80 mb-30">
									<span class="w-150 ta-c c-orangeDeep">验证原邮箱</span>
									<span class="w-150 ta-c">填写新邮箱</span>
									<span class="w-150 ta-c">验证新邮箱</span>
									<span class="w-150 ta-c">成功</span>
								</div>
								<div style="margin:20px 0 20px 20px;">
									请到邮箱：<a href="javascript:;" id="gotoOldEmail" class="c-redLight"></a> 查收确认邮件，单击相应链接完成验证(48小时内有效)
								<p>未收到邮件？</p>
								<p>请先检查是否在垃圾邮件中</p>
								<p>10分钟内未收到验证邮件，请点击<a href="javascript:;" class="btn btn-middle btn-bgray" id="sendOldEmailAgain">重新发送验证码</a></p>
								</div>
							</div>
						</div>
						<form id="signupForm2" method="post" action="">
						<table id="step2">
							<tr><td colspan='2'><div class="step step2"></div>
								<div class="pl-80 mb-30">
									<span class="w-150 ta-c c-orangeDeep">验证原邮箱</span>
									<span class="w-150 ta-c c-orangeDeep">填写新邮箱</span>
									<span class="w-150 ta-c">验证新邮箱</span>
									<span class="w-150 ta-c">成功</span>
								</div>							
							</td></tr>
							<tr>									
								<td class="ta-c" colspan='2'>原电子邮箱验证通过，请填写您的新电子邮箱，我们将会向该邮箱发送验证链接，请注意查收
								</td>
							</tr>
							<tr>
								<td class="ta-r" width="200px">
									<span class="c-redLight">*　</span>请填写新邮箱：
								</td>
								<td width="550px">
									<input type="text" class="txt-small w-160" id="newEmail" name="newEmail"/>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<input type="submit" class="btn btn-middle btn-bgray" value="下一步">
								</td>
							</tr>
						</table>
						</form>
						<div class="email_tip" id="step3">
							<div class="step step3"></div>
							<div class="pl-55 mb-30">
								<span class="w-150 ta-c c-orangeDeep">验证原邮箱</span>
								<span class="w-150 ta-c c-orangeDeep">填写新邮箱</span>
								<span class="w-150 ta-c c-orangeDeep">验证新邮箱</span>
								<span class="w-150 ta-c">成功</span>
							</div>	
							<div style="margin:20px 0 20px 20px;">请到邮箱：<a href="javascript:;" class="c-redLight" id="gotoNewEmail"></a> 查收确认邮件，单击相应链接完成验证(48小时内有效)
							<p>未收到邮件？</p>
							<p>请先检查是否在垃圾邮件中</p>
							<p>10分钟内未收到验证邮件，请点击<a href="javascript:;" class="btn btn-middle btn-bgray" id="sendNewEmailAgain">重新发送验证码</a></p>
							</div>
						</div>
						<table id="step4">
							<tr>
								<td  width="770px" class="fs-20 lh-40">
									<span class="email_success pl-80 ml-100">邮箱修改成功！ <br/>
										您的新绑定邮箱为：<span id="newEmailShow" class="c-redLight"></span></span>
								</td>
							</tr>
							<tr>
								<td  width="770px" class="ta-c">
									<a href="accountSecurity.html" class="btn btn-middle btn-bgray">返回安全设置</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- middle end -->
	<!-- footer start -->
	<div class="footer">
	</div>
	<!-- footer end -->
</div>
</body>
</html>
