<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>百贷网</title>
<script type="text/javascript" src="../../include.js"></script>
<script>
	$(function(){
		//nav栏点亮
		$('.nav .headList').eq(4).find('.typeUser').find('a').eq(0).addClass('active');
	})
</script>
</head>

<body>
<div class="wrap">
	<!-- header start -->
	<div class="header">
	</div>
	<!-- header end -->
	<!-- middle start -->
	<div class="middle">
		<div class="box w-960 m-0a mt-20 mb-20 clearfix">
			<div class="part-left fl-l">
					<a href="userCenter.html">
						<img src="../../images/lxy_01.png" alt="">
						<span>信息总览</span>
					</a>
					<a href="myFinance.html">
						<img src="../../images/lxy_02.png" alt="">
						<span>我的投资</span>
					</a>
					<a href="myLoan.html">
						<img src="../../images/lxy_03.png" alt="">
						<span>我的借款</span>
					</a>
					<a href="myMoney.html" class="active">
						<img src="../../images/lxy_04a.png" alt="">
						<span>我的资金账户</span>
					</a>
					<a href="account.html">
						<img src="../../images/lxy_05.png" alt="">
						<span> 安全与设置</span>
					</a>
					<a href="notice.html">
						<img src="../../images/lxy_06.png" alt="">
						<span>消息通知</span>
					</a>
			</div>
			<div class="part-right fl-r">
				<table width="70%" border="0" cellspacing="0" cellpadding="0" class="mt-35 mb-65 m-0a lh-40">
					<tr>
						<td colspan="2" class="fs-18 pt-30 pb-20">选择第三方支付平台</td>
					</tr>
					<tr>
						<td colspan="2">
							<label class="fl-l ml-50 mr-80">
								<input name="payRadio1" type="radio" value="" class="fl-l mt-20" checked>
								<img src="../../images/lxy_08.jpg" alt="" class="fl-l bd-s1c ml-10">
							</label>
							<label class="fl-l">
								<input name="payRadio1" type="radio" value="" class="fl-l mt-20">
								<img src="../../images/lxy_09.jpg" alt="" class="fl-l bd-s1c ml-10">
							</label>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="fs-18 pt-30 pb-20">填写充值金额</td>
					</tr>
					<tr>
						<td align="right" class="w-150 pr-10">填写充值金额：</td>
						<td><input type="text" class="txt-small"></td>
					</tr>
					<tr>
						<td align="right" class="pr-10">充值费用：</td>
						<td>1元<a href="javascript:;" class="c-blue1 td-unl ml-15">第三方收取充值手续费标准</a></td>
					</tr>
					<tr>
						<td align="right" class="pr-10">实际支付金额：</td>
						<td>101.00元</td>
					</tr>
					<tr>
						<td align="right" class="pr-10">账户余额：</td>
						<td>101.00元</td>
					</tr>
					<tr>
						<td align="right" class="pr-10">充值后余额：</td>
						<td>200.00元</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<input type="button" value="充值" class="subBtn round-3 h-30 lh-28 pl-30 pr-30 fs-14">
						</td>
					</tr>
					<tr>
						<td colspan="2" class="pt-30 lh-26 c-999">
						<span class="fs-14">温馨提示</span><br>
						<span class="fs-12">
1.为了您的账户安全，请在充值前进行身份认证、手机绑定以及提现密码设置。<br>
2.您的账户资金将由第三方平台托管。 <br>
3.请注意您的银行卡充值限制，以免造成不便。<br> 
4.禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用。<br>
5.如果充值金额没有及时到账，请联系客服。
						</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- middle end -->
	<!-- footer start -->
	<div class="footer">
	</div>
	<!-- footer end -->
</div>
</body>
</html>
