<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>百贷网</title>
<script type="text/javascript" src="../../include.js" ></script>
</head>

<body>
<div class="wrap"> 
	<!-- header start -->
	<div class="header">
	</div>
	<!-- header end --> 
	<!-- middle start -->
	<div class="middle">
		<div class="w-960 m-0a mt-5 clearfix"> <a href="javascript:;" class=" c-blue1">返回上级</a> </div>
		<div class="box w-960 m-0a mt-5 mb-20 clearfix c-blue2">
			<h3 class="ml-100 mt-20"><span class="fl-l mr-5">短期借款 生意周转</span><img src="../../images/lxy_17.jpg"></h3>
			<div class="clearfix pb-10 mb-20">
				<div class="ml-100 w-140 ta-c fl-l pt-20 pb-20 pr-20 bdr-e8"> 
					<img src="../../images/lxy_11.jpg">
					<p>南城三哥的哥的哥</p>
				</div>
				<div class="w-650 fl-r pt-20 lh-30">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td align="right" class="w-100 pr-10">借款金额：</td>
							<td>8888.00元</td>
						</tr>
						<tr>
							<td align="right" class="pr-10">剩余借款金额：</td>
							<td>8888.00元</td>
						</tr>
						<tr>
							<td align="right" class="pr-10">年利率：</td>
							<td>12%</td>
						</tr>
						<tr>
							<td align="right" class="pr-10">还款期限：</td>
							<td>18个月</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="w-100b pl-40 pr-40 pt-25 pb-25 bgc-fc bdt-e8">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td colspan="2" align="center" class="w-55b lh-40 bdb-e8">
							<span class="fs-18">确认投标金额</span><br>
							<span class="fs-40">12,000</span>
							<span class="fs-18">元</span> </td>
						<td rowspan="2" class="pl-30 bdl-e8">
							<input type="text" value="输入交易密码" class=" txt-large w-250 h-45 lh-44 mb-7" style="color:#c0c0c0;" onFocus="this.value=''">
							<br>
							<label>
							<input type="radio">
							我确认同意接受 
							<span class="c-blue1">XX网借款人服务协议</span>
							</label>
							<br>
							<input type="submit" value="确定投标" class="subBtn fs-16 h-40 lh-40 pl-100 pr-100 round-3 mt-30" onClick="location.href='investResult.html'"></td>
					</tr>
					<tr>
						<td align="center" class="pt-20 pb-10">
							<span class="fs-18">账户余额</span><br>
							<span class="fs-18">8888.00</span>
							<span class="fs-18">元</span>
						</td>
						<td align="center" class="pt-20 pb-10 bdl-e8">
							<span class="fs-18">投资后余额</span><br>
							<span class="fs-18">8888.00</span>
							<span class="fs-18">元</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- middle end --> 
	<!-- footer start -->
	<div class="footer">
	</div>
	<!-- footer end --> 
</div>
</body>
</html>
