<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>百贷网</title>
<script type="text/javascript" src="../../include.js" ></script>
</head>

<body>
<div class="wrap">
	<!-- header start -->
	<div class="header">
	</div>
	<!-- header end -->
	<!-- middle start -->
	<div class="middle">
		<div class="box w-960 m-0a mt-20 mb-20 clearfix pt-100 pb-100">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="right" class="w-30b">
						<img src="../../images/lxy_20.png" width="65" height="65" class="mr-20">
					</td>
					<td class="c-blue2 fs-24">恭喜您！投标成功！</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td class="c-blue1">您可进入“个人中心”-->“理财管理”-->“我的债权“查看投标记录及债权状态</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td class="pt-20">
						<a href="../index.html" class="subBtn h-30 lh-30 pl-25 pr-25 round-3">返回首页</a>
						<a href="../user/userCenter.html" class="subBtn h-30 lh-30 pl-25 pr-25 round-3">进入个人中心</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- middle end -->
	<!-- footer start -->
	<div class="footer">
	</div>
	<!-- footer end -->
</div>
</body>
</html>
